:root {
  --main-font-family: "Open Sans", sans-serif;
  --main-font-family2: "Formular", sans-serif;
  --white: #fff;
  --main-color: #222222;
  --main-color2: #767676;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10% 0;
}
.headWrap {
  background-color: var(--white);
}
@media screen and (max-width: 1024px) {
  .container {
    margin: 30px 80px 30px 80px;
  }
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.container .logo {
  font-size: 1.8rem;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container li {
  overflow: hidden;
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.home_underline {
  transform: translateX(-70px);
  width: auto;
  height: 2px;
  background-color: var(--white);
  transition: 0.5s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.list:hover > .home_underline {
  transform: translatex(0px);
}

.btn {
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: var(--white);
  background-color: blueviolet;
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  transform-origin: center;
  position: relative;
  overflow: hidden;
}

.btn::before {
  content: " ";
  position: absolute;
  top: 0px;
  width: 40px;
  height: 40px;
  transform: skewX(40deg) translateX(-90px);
  background-color: rgba(255, 255, 255, 0.411);
  z-index: 99;
  transition: 0.8s cubic-bezier(0.97, 0.02, 0.44, 0.99);
}

.btn:hover::before {
  transform: skewX(40deg) translateX(100px);
  animation: btnshine 1s cubic-bezier(0.97, 0.02, 0.44, 0.99) infinite;
}
@keyframes btnshine {
  from {
    transform: skewX(40deg) translateX(-90px);
  }
  to {
    transform: skewX(40deg) translateX(100px);
  }
}

#nav_toggle {
  position: absolute;
  display: none;
}

.container .icon_burger {
  position: absolute;
  right: 5%;
  display: none;
}

.container .icon_burger .line {
  width: 20px;
  height: 2px;
  background-color: var(--main-color);
  margin: 5px;
  border-radius: 5px;
}

.chooseCity {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chooseCity h1 {
  margin: 0 0 0 8px;

  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: var(--main-color);
}

.links_md {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.searchWrap {
  width: 50%;
}

.searchWrap input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--white);
  border-radius: 100px;
  font-size: 14px;
  line-height: 22px;
  outline: none;
  border: none;
  /* text-align: center; */
  background-color: #f1f1f1;
  background-image: url("assets/search.webp");
  background-position: 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 50px;
}

.likeCounter {
  display: flex;
  align-items: center;
}

.likeCounter h1 {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--main-color);
}

.userInfo {
  display: flex;
  align-items: center;
}

.userInfo h1 {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  text-align: right;

  color: var(--main-color);
  margin-right: 7px;
}

.headerRight {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ------------------------swipper------------------------ */

.swiper {
  width: 80%;
  height: 60px;
  padding-bottom: 0.5rem !important;
}

.swiper-slide {
  text-align: center;
  background: var(--white);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: var(--main-color);
  text-decoration: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--main-color) !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
  width: 6px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none !important;
}

/* ------------------------Navbar------------------------ */

.navbar_sm {
  z-index: 9999;
  position: relative;
  top: 0;
  width: 100%;
}

.container0 {
  display: inline-block;
  height: 60px;
  width: 100%;
}

.inav {
  padding: 12px;
  height: 45px;
  width: 50px;
  margin: 5px;
  float: right;
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
}

.c1,
.c2,
.c3 {
  width: 26px;
  height: 2px;
  background: var(--main-color);
  border-radius: 2px;
  transition: transform 0.3s ease-out, width 0.3s ease-in;
  transform: translateY(0) rotate(0);
  -webkit-transform: translateY(0) rotate(0);
  -webkit-transition: -webkit-transform 0.3s ease-out, width 0.3s ease-in;
}

.close-c1 {
  transform: translateY(10px) rotate(45deg);
  transition: transform 0.3s ease-out;
  -webkit-transform: translateY(10px) rotate(45deg);
  -webkit-transition: -webkit-transform 0.3s ease-out;
}

.close-c2 {
  width: 0;
  transition: width 0.3s ease-in;
  -webkit-transition: width 0.3s ease-in;
}

.close-c3 {
  transform: translateY(-10px) rotate(-45deg);
  transition: transform 0.3s ease-out;
  -webkit-transform: translateY(-10px) rotate(-45deg);
  -webkit-transition: -webkit-transform 0.3s ease-out;
}

.nav {
  z-index: 2;
  padding: 0;
  width: 100%;
  text-align: center;
  display: none;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  position: relative;
  top: -4px;
  background-color: var(--white);
}

.open {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-animation: 300ms show ease-out forwards;
  animation: 300ms show ease-out forwards;
}
#nav a {
  text-align: center;
  display: inline-block;
  color: #aaa;
  padding: 13px;
  font-size: 18px;
  border-top: 1px #bdc3c7 solid;
  text-decoration: none;
}
#nav a:hover {
  color: #607d8b;
}

/* ANIMATION */
@-webkit-keyframes show {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes show {
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (min-width: 500px) {
  #nav {
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-flex-direction: row;
    top: 0;
  }
  .open {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
  #nav a {
    border-top: 0;
  }
  .container0 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  .links_md {
    width: inherit;
  }
  .btn {
    font-size: 1.5rem;
    padding: 10px 40px 10px 40px;
  }
  .container .icon_burger {
    z-index: 9;
    display: block;
    caret-color: transparent;
    left: 5%;
  }

  .home_underline,
  .searchWrap,
  .headerRight .userInfo,
  .swiper,
  .chooseCity,
  #logo,
  .links_md {
    display: none !important;
  }
  /* ----------------navbar---------------- */
  .container0 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .container .logo {
    width: 85%;
    justify-content: flex-start;
  }
  .likeCounter {
    width: 45%;
    justify-content: flex-end;
  }
  .logo .logo_img {
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }
  .userInfo{
    justify-content: center;
    padding: 1rem 0;
  }
}